/* Override some defaults */
html, body {
  background-color: #fff;
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
pre{
  background-color: #000;	
}
code{
  background: none;
  color: #fff;
}

.content {
	padding-right: 20px;
}

.content .post_body .posts {
  padding-right: 20px;
}

.content .posts h1
 { 
  font-size: 3em;	
  padding:5px 10px;
  background:#046D8B;
  color:#FFF;
  border-radius:5px;
}
.content .posts h2{ 
  font-size: 2em;
  padding:5px 10px;
  background:#FBF3DC;
  border-radius:5px;
}

.content .posts h3{
  font-size: 1.75em;
}

.content .posts h4{
  font-size: 1.5em;	
  text-decoration: underline;
}

.content li {
	list-style:none;
}
/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}

.sidebar {
  position: fixed;
  background-color: #3A3A3A;
  border-radius: 5px;
  padding-top: 20px;
  margin-top: -5px;
}

.sidebar ul {
	margin: 0px;
}
.sidebar li{
	list-style: none;
	padding: 10px;
	font-size: 16px;
}

.sidebar li:hover{
	background-color: #505050;
}

.sidebar li.active{
	background-color: #505050;
}
.sidebar li a{
	color: #f2f2f2;
}